<%= simple_form_for @pin,html: {multipart:true} do |f| %>
    <% if @pin.errors.any? %>
        <div id="errors">
            
        
        <%=pluralize(@pin.errors.count,"error")%>
            prevented this pin from saving!
            <ul><% @pin.errors.fullmessages.each do |msg|%>
                <li>msg</li>
            <%end%>
            </ul>
        </div>
    <% end %> 
    
    <div class=form-group>
    <%= f.input :title,input_html: {class: 'form-control'}%>
    <%= f.input :description,input_html: {class: 'form-control'}%>
    <%= f.submit "Post It..", :class => "btn btn-primary" %>
    </div>
<% end %>